/* @import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Changa:wght@200&family=Gulzar&family=Ibarra+Real+Nova:wght@600&family=Kanit:wght@200;300&family=Kdam+Thmor+Pro&family=Orbitron:wght@400;600;900&family=Roboto+Condensed:wght@300&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,300;1,400&family=Titillium+Web:wght@200&display=swap"); */

body {
  background-color: #f5f6fa;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
